.container{
  display:flex;
  flex-direction: row;
  text-align: center;
  margin-top: 20px;
}

.card{
  flex: 25% !important;
  margin: 10px !important;
}

.article{
  text-align: center;
  font-size: larger;
  
}

.main{
  margin: auto;
  text-align: center;
  width: 75%;
}

#stats{
  text-align: center;
}
.red{
  color: red;
}

a{
  text-decoration: none;
}