.container{
  display:flex;
  flex-direction: row;
  text-align: center;
  margin-top: 20px;
}

.card{
  flex: 25% !important;
  margin: 10px !important;
}

.article{
  text-align: center;
  font-size: larger;
  
}

.main{
  margin: auto;
  text-align: center;
  width: 75%;
}

#stats{
  text-align: center;
}
.red{
  color: red;
}

a{
  text-decoration: none;
}

.about-footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 100px;
  margin-top: 25px;
}

.about-footer a {
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
  color: black;
  font-size: large;
}
.vaccines{
  text-align: center;
}