* {
  box-sizing: border-box;
}
.menu {
  float: left;
  width: 20%;
  text-align: center;
}
.menu a {
  background-color: #e5e5e5;
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;
}
.main {
  float: left;
  width: 60%;
  padding: 0 20px;
  text-align: center;
}
.right {
  background-color: crimson;
  float: left;
  width: 20%;
  padding: 15px;
  margin-top: 7px;
  text-align: center;
  font-size: large;
  font-weight: 700;
}

#header {
  text-align: center;
  background-color: crimson;
  margin: 15px;
  height: 100px;
  padding: 15px;
}

#covid-info {
  font-size: large;
  font-weight: 700;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu,
  .main,
  .right {
    width: 100%;
  }
}
