{% load static %}
{% include "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1 class='title'>Meet Team Cotton!</h1>
    <div class="container">
        <div class="flex-">
            <img 
            class="images" 
            src="{% static 'image/dabout.jpg' %}"
           />
            <hr>
            <p>
            Hello, I'm Deidre Boddie a Software Engineering student at Kenzie Academy.
            </p>
        </div>
         <div class="flex-">
            <img 
            class="images" 
            src="{% static 'image/cabout.jpg' %}"
            width="250px"/>
            <hr>
            <p>
             Hello I'm Cesar Ramos a Software Engineering student at Kenzie Academy.
            </p>
        </div>
         <div class="flex-">
            <img 
            class="images" 
            src="{% static 'image/kabout.png' %}"
            width="250px"/>
            <hr>
            <p>
            Hello I'm Kyle Hill, a Software Engineering student at Kenzie Academy.
            </p>
        </div>
         <div class="flex-">
            <img 
            class="images" 
            src="{% static 'image/tabout.png' %}"
            width="250px"/>
            <hr>
            <p>
            I'm Tim Kepple, a Software Engineering student at Kenzie Academy.
            </p>
        </div>
    </div>
    <footer class="about-footer">
        <br>
        <a href="#">About</a>
        <a href="#">Kenzie</a>
        <a href="#">Covid-19</a>
        <a href="#">Dogs</a>
        <a href="#">Cats</a>
        <br>
        <br>
        Copyrights &copy; <em id="date">2021</em> All Rights Reserved Team Cotton from Kenzie
    </footer>
</body>
</html>