{% load static %}
{% include "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1 class='title'>Meet Team Cotton!</h1>
    <div class="container">
        <div class="flex-">
            <img 
            class="images" 
            src="{% static 'image/510da98abbe03f7ff9a7ce6eb0f362e7.jpeg' %}"
           />
            <hr>
            <p>
            Hello, I am doggo a Software Engineer student
            at Kenzie Academy. Currently working on my capstone project 
            with my team, Team Cotton. Its been a wuffonderful time.
            Like Who Let The Dogs Out Right?? hehehe
            </p>
        </div>
         <div class="flex-">
            <img 
            class="images" 
            src="{% static 'image/Photo-ish.jpg' %}"
            width="250px"/>
            <hr>
            <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Exercitationem commodi perferendis debitis, ullam, hic unde tempore nisi ex a esse illum necessitatibus 
            molestiae eligendi delectus assumenda. Numquam rem voluptate quo.
            </p>
        </div>
         <div class="flex-">
            <img 
            class="images" 
            src="{% static 'image/Photo-ish.jpg' %}"
            width="250px"/>
            <hr>
            <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Exercitationem commodi perferendis debitis, ullam, hic unde tempore nisi ex a esse illum necessitatibus 
            molestiae eligendi delectus assumenda. Numquam rem voluptate quo.
            </p>
        </div>
         <div class="flex-">
            <img 
            class="images" 
            src="{% static 'image/Photo-ish.jpg' %}"
            width="250px"/>
            <hr>
            <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Exercitationem commodi perferendis debitis, ullam, hic unde tempore nisi ex a esse illum necessitatibus 
            molestiae eligendi delectus assumenda. Numquam rem voluptate quo.
            </p>
        </div>
    </div>
    <footer class="about-footer">
        <br>
        <a href="#">About</a>
        <a href="#">Kenzie</a>
        <a href="#">Covid-19</a>
        <a href="#">Dogs</a>
        <a href="#">Cats</a>
        <br>
        <br>
        Copyrights &copy; <em id="date">2021</em> All Rights Reserved Team Cotton from Kenzie
    </footer>
</body>
</html>