{% load static %}
{% include "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <title>About</title>
</head>
<body>
    <h1 class='title'>Meet Team Cotton!</h1>
    <div class="container">
        <div class="flex-">
            <img 
            class="images" 
            src="{% static 'image/dabout.jpg' %}"
           />
            <hr>
            <p>
            Deidre Boddie<br>Sacramento, CA<br>Product Owner/Developer
            </p>
            <li>S.E.-April-2020</li>
            <li>@ Kenzie Academy</li>
        </div>
         <div class="flex-">
            <img 
            class="images" 
            src="{% static 'image/cabout.jpg' %}"
            width="250px"/>
            <hr>
            <p>
            Cesr Ramos<br>Hayward, CA<br>Product Scrum Master/Developer/QA
            </p>
            <li>S.E.-April-2020</li>
            <li>@ Kenzie Academy</li>
        </div>
         <div class="flex-">
            <img 
            class="images" 
            src="{% static 'image/kabout.png' %}"
            width="250px"/>
            <hr>
            <p>
            Kyle Hill<br>New York, NY<br>Developer/QA
            </p>
            <li>S.E.-April-2020</li>
            <li>@ Kenzie Academy</li>
        </div>
         <div class="flex-">
            <img 
            class="images" 
            src="{% static 'image/tabout.png' %}"
            width="250px"/>
            <hr>
            <p>
            Tim Kepple<br>Macomb, IL<br>Developer
            </p>
            <li>S.E.-April-2020</li>
            <li>@ Kenzie Academy</li>
        </div>
    </div>
    <footer class="about-footer">
      <br>
      <a href="/about">About</a>
      <a href="https://www.kenzie.academy/" target="_blank">Kenzie</a>
      <a href="/covid">Covid-19</a>
      <a href="/dogs">Dogs</a>
      <a href="/news">News</a>
      <a href="/shoes">Shoes</a>
      <br>
      <br>
      Copyrights &copy; <em id="date">2021</em> All Rights Reserved Team Cotton from Kenzie
    </footer>
</body>
</html>