{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'css/corona.css' %}">
    </head>
    <body>

        <div id='header'>
            <h1>Hello World</h1>
        </div>

        <div style="overflow:auto">
            <div class="right">
                <h2> USA Covid stats as of {{ today }}</h2>
                <p>
                    Total Cases : {{ cases }}
                </p>
                <p>
                    Total Deaths : {{ deaths }}
                </p>
                <p>
                    Total Vaccinations Distributed : {{ distributed }}
                </p>
                <p>
                    Total Vaccinations Administered : {{ administered }}
                </p>
                
            </div>

            <div class="main">
                <h2>Covid-19 Overview</h2>
                <p id="covid-info">
                    Coronavirus disease 2019 (COVID-19) is a contagious disease caused by severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2).
                    The first case was identified in Wuhan, China, in December 2019.
                    The disease has since spread worldwide, leading to an ongoing pandemic.[8]
                    Symptoms of COVID-19 are variable, but often include fever, cough, fatigue, breathing difficulties, and loss of smell and taste. Symptoms may begin one to fourteen days after exposure to the virus. 
                    At least a third of people who are infected do not develop noticeable symptoms.[9] 
                    Of those people who develop noticeable symptoms enough to be classed as patients, most (81%) 
                    develop mild to moderate symptoms (up to mild pneumonia), while 14% develop severe symptoms (dyspnea, hypoxia, 
                    or more than 50% lung involvement on imaging), and 5% suffer critical symptoms (respiratory failure, shock, or multiorgan dysfunction).
                    [10] Older people are more likely to have severe symptoms. Some people continue to experience a range of effects—known as long COVID—for months after recovery, 
                    and damage to organs has been observed.[11] Multi-year studies are underway to further investigate the long-term effects of the disease.[11]
                    The virus that causes COVID-19 spreads mainly when an infected person is in close contact[a] with another person.[15][16] Small droplets and aerosols 
                    containing the virus can spread from an infected person's nose and mouth as they breathe, cough, sneeze, sing, or speak. Other people are infected if the virus gets 
                    into their mouth, nose or eyes. The virus may also spread via contaminated surfaces, although this is not thought to be the main route of transmission.[16] 
                    The exact route of transmission is rarely proven conclusively,[17] but infection mainly happens when people are near each other for long enough. People who are infected can transmit the virus to another person up to two days before they themselves show symptoms, as can people who do not experience symptoms.[18][19] People remain infectious for up to ten days after the onset of symptoms in moderate cases and up to 20 days in severe cases.[20]
                </p>
            </div>

            <div class="menu">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
                <a href="#">Link 4</a>
            </div>
        </div>

        <div style="background-color:#e5e5e5;text-align:center;padding:10px;margin-top:7px;">
            © copyright w3schools.com
        </div>

    </body>
</html>