<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dogs</title>
    <style>
        body{
            background-color: black;
        }
  
        .contain, .flex {
            box-sizing: border-box;
            
        }
        .contain {
            
            margin: auto;
            text-align: center;
        }
        .flex {
            float: left;
            margin: 20pxpx;
            width: 25%;
            padding: 5px;
        }

    
</style>   
</head>
<body>
    <div class="contain">
   
        {% for i in images %}
            <div class="flex">
                <img src={{i}} alt="" srcset="" width="350px" height="350px">
            </div>
        {% endfor %}

    </div>
</body>
</html>