{% load static %}
{% include "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/edit.css' %}">
    <title>Document</title>

</head>
<body>
    <div class="frame">
        <div class="padding">
            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h3>Edit Profile</h3>
            {{ form.as_p}}
        </div>

        <input class="btn btn-danger" type="submit" value="Submit!" />
        </form>
    </div>  
    <footer class="footer">
      <br>
      <a href="/about">About</a>
      <a href="https://www.kenzie.academy/" target="_blank">Kenzie</a>
      <a href="/covid">Covid-19</a>
      <a href="/dogs">Dogs</a>
      <a href="/news">News</a>
      <a href="/shoes">Shoes</a>
      <br>
      <br>
      Copyrights &copy; <em id="date">2021</em> All Rights Reserved Team Cotton from Kenzie
    </footer>
</body>
</html>
