{% load static %}
{% include "base.html"%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo-ish — Home</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    
    <div class="main">
        <div class="image-container">
            {% for photo in photos  %}
            {% if photo.poster in authentication.InstagramUser.friends.all %}
                <div class="card">
                    <div class="card-header">
                        {% if photo.image.url %}
                            <img class="thumbnail" src="{{ photo.image.url }}"/>
                        {% endif %}
                        <a class="user-1" href="user/{{ photo.poster_id }}">{{photo.poster.username}}</a>
                    </div>
                    {% if photo.image %}
                        <a href="/photo/{{ photo.id}}/">
                        <img class="photo" src="{{ photo.image.url }}">
                        </a>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{photo.total_likes}} Likes</h5>
                        <a href="/photolikes/{{ photo.id }}/" class="btn btn-primary">
                            ♡
                            <i class="bi bi-hand-thumbs-up-fill"></i>
                        </a>
                        <p class="card-text">
                            <br>
                            <a class="user" href="user/{{photo.poster_id}}">{{photo.poster.username}}</a>
                            {{photo.caption}}
                            <br>
                            <a id="comments" href="#">View all comments</a>
                        </p>
                        
                        <div class="comments">
                            {% for c in comments %}
                                {% if c.photo_id == photo.id %}
                                    <p class="card-text">
                                        <a href="user/{{c.creator_id}}" class="user">{{c.creator}}<a>
                                        {{ c.post }}
                                    </p>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <form action="/comment/{{photo.id}}/" method="POST">
                            {% csrf_token %}
                            {{ form }}
                            <input id='submit' type="submit" value="Post">
                        </form>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
        </div>
        {% comment %} <div class="flex"> {% endcomment %}
            <div class="friends">
                <div class="bar">
                    <img class="pictures" src="{% static 'image/510da98abbe03f7ff9a7ce6eb0f362e7.jpeg' %}"/>
                    <img class="pictures" src="{% static 'image/510da98abbe03f7ff9a7ce6eb0f362e7.jpeg' %}"/>
                    <img class="pictures" src="{% static 'image/510da98abbe03f7ff9a7ce6eb0f362e7.jpeg' %}"/>
                    <img class="pictures" src="{% static 'image/510da98abbe03f7ff9a7ce6eb0f362e7.jpeg' %}"/>
                    <img class="pictures" src="{% static 'image/510da98abbe03f7ff9a7ce6eb0f362e7.jpeg' %}"/>
                    <img class="pictures" src="{% static 'image/510da98abbe03f7ff9a7ce6eb0f362e7.jpeg' %}"/>
                </div>
            </div>
            {% comment %} <div class="suggest">
                <div class="bar">
                    <img class="pictures" src="{% static 'image/510da98abbe03f7ff9a7ce6eb0f362e7.jpeg' %}"/>
                    <img class="pictures" src="{% static 'image/510da98abbe03f7ff9a7ce6eb0f362e7.jpeg' %}"/>
                    <img class="pictures" src="{% static 'image/510da98abbe03f7ff9a7ce6eb0f362e7.jpeg' %}"/>
                    <img class="pictures" src="{% static 'image/510da98abbe03f7ff9a7ce6eb0f362e7.jpeg' %}"/>
                    <img class="pictures" src="{% static 'image/510da98abbe03f7ff9a7ce6eb0f362e7.jpeg' %}"/>
                    <img class="pictures" src="{% static 'image/510da98abbe03f7ff9a7ce6eb0f362e7.jpeg' %}"/>
                </div>
            </div> {% endcomment %}
        {% comment %} </div> {% endcomment %}
    </div>










    {% comment %} <h1>{{ heading }}</h1>
        <select name="forma" onchange="location = this.value;">
            <option></option>
            <option value="/editprofile/{{user.id}}">Edit profile settings</option>
            <option value="/editaccount/{{user.id}}">Edit account settings</option>
        </select>
        <div class="data"> {% endcomment %}
            {% comment %} {% for post in posts %}
            <table>
                <tr>
                    <th><a href="/user/{{post.id}}">{{ post.username }}</a></th>
                    </tr>
                    {% if post.firstname or post.last_name or post.email %}
                    <tr>
                        <th>{{ post.first_name }} {{ post.last_name }}</th>
                    </tr>
                    <tr>
                        <th>{{ post.email }}</th>
                    </tr>
                    {% endif %}
                    <tr>
                        <th>Followers: {{ post.follow.all | length }}</th>
                    </tr>
                </table>
                {% endfor %}
            </div>
        {% if user.is_authenticated %}
        <p><button><a href="/logout/">Log out</a></button></p>
        {% else %}
        <button><a href="/login/">Log in</a></button>
        {% endif %} {% endcomment %}
    {% comment %} {% endfor %} {% endcomment %}
</body>
</html>