{% load static %}
{% include "base.html"%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo-ish — Home</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    
    <div class="main">
        <div class="image-container">
            {% for photo in photos %}
            {% if photo.poster in request.user.friends.all %}
                <div class="card">
                    <div class="card-header">
                        {% for p in users  %}
                            {% if p.id == photo.poster_id %}
                                {% if p.avatar %}
                                    <img class="thumbnail" src="{{ p.avatar.url }}"/>
                                {% else %}
                                    <img class="thumbnail" src="{% static 'image/default.jpg' %}"/>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <a class="user-1" href="user/{{ photo.poster_id }}">{{photo.poster.username}}</a>
                    </div>
                    {% if photo.image %}
                        <a href="/photo/{{ photo.id}}/">
                        <img class="photo" src="{{ photo.image.url }}">
                        </a>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{photo.total_likes}} Likes</h5>
                        <a href="/photolikes/{{ photo.id }}/" class="btn btn-primary">
                            ♡
                            <i class="bi bi-hand-thumbs-up-fill"></i>
                        </a>
                        <p class="card-text">
                            <br>
                            <a class="user" href="user/{{photo.poster_id}}">{{photo.poster.username}}</a>
                            {{photo.caption}}
                            <br>
                            
                            <a id="comments" data-bs-toggle="modal" data-bs-target="#exampleModal{{photo.id}}">
                                View all comments
                            </a>
                            
                            <div class="modal fade" id="exampleModal{{photo.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            {% for p in users  %}
                                                {% if p.id == photo.poster_id %}
                                                    {% if p.avatar %}
                                                        <img class="thumbnail" src="{{ p.avatar.url }}"/>
                                                    {% else %}
                                                        <img class="thumbnail" src="{% static 'image/default.jpg' %}"/>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                            <a class="user-1" href="user/{{ photo.poster_id }}">{{photo.poster.username}}</a>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                           <img src="{{photo.image.url}}" alt="photo" width="250px" height="350px">
                                            <div class="card" style="width: 18rem;">
                                                <div class="card-body one">
                                                    <div class="comments">
                                                        {% for c in all_comments %}
                                                            {% if c.photo_id == photo.id %}
                                                                <p class="card-text">
                                                                    {% if c.creator.avatar %}
                                                                        <img class="thumbnail" src="{{ c.creator.avatar.url }}"/>
                                                                    {% else %}
                                                                        <img class="thumbnail" src="{% static 'image/default.jpg' %}"/>
                                                                    {% endif %}
                                                                    <a href="user/{{c.creator_id}}" class="user">{{c.creator}}<a>
                                                                    {{ c.post }}
                                                                </p>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                           
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p>
                        
                        <div class="comments">
                            {% for c in comments %}
                                {% if c.photo_id == photo.id %}
                                    <p class="card-text">
                                        <a href="user/{{c.creator_id}}" class="user">{{c.creator}}<a>
                                        {{ c.post }}
                                    </p>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <form action="/comment/{{photo.id}}/" method="POST">
                            {% csrf_token %}
                            {{ form }}
                            <input id='submit' type="submit" value="Post">
                        </form>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
        </div>

            <div>
                <div class="friends">
                    <div class="bar">
                        {% for u in users %}
                                <div class="follows">
                                    {% if u.avatar %}
                                        <a href="user/{{u.id}}"><img class="pictures" src="{{u.avatar.url}}" alt="profile_pic"></a>
                                        <a class="user" href="user/{{u.id}}">{{u.username}}</a>
                                        {% if u.username != request.user.username %}
                                            {% if u in request.user.friends.all %}
                                            <a  class="follow-link" href="/unfollow/{{u.id}}"><button type="button" class="btn btn-danger">unfollow</button></a>
                                            {% else %}
                                            <a  class="follow-link" href="/follow/{{u.id}}"><button type="button" class="btn btn-danger">follow</button></a>
                                            {% endif %}
                                        {% endif %}
                                    {% else %}
                                        <a href="user/{{u.id}}"><img class="pictures" src="{% static 'image/default.jpg' %}"/></a>
                                        <a class="user" href="user/{{u.id}}">{{u.username}}</a>
                                        {% if u.username != request.user.username %}
                                            {% if u in request.user.friends.all %}
                                                <a class="follow-link" href="/unfollow/{{u.id}}"><button type="button" class="btn btn-danger">unfollow</button></a>
                                            {% else %}
                                                <a class="follow-link" href="/follow/{{u.id}}"><button type="button" class="btn btn-danger">follow</button></a>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </div>
                        {% endfor %}
                    </div>
                </div>
                 <footer class="about-footer">
                    <br>
                    <a href="/about">About</a>
                    <a href="https://www.kenzie.academy/" target="_blank">Kenzie</a>
                    <a href="/covid">Covid-19</a>
                    <a href="/dogs">Dogs</a>
                    <a href="/news">News</a>
                    <a href="/shoes">Shoes</a>
                    <br>
                    <br>
                    Copyrights &copy; <em id="date">2021</em> All Rights Reserved Team Cotton from Kenzie
                </footer>
           </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    </body>
</html>