{% include "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>News</title>
    <style>
        
        .card{
            width: 500px !important;
            height: auto !important;
            margin: auto !important;
            margin-top: 50px !important;
        }
    </style>
</head>
<body>
    <div class="container">
        {% for post in posts  %}
            <div class="card">
                <img src="{{post.urlToImage}}" class="card-img-top" alt="..." width="250px">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <p class="card-text">{{post.description}}</p>
                    <a href="{{post.url}}" target="_blank" class="btn btn-primary">Check This Story Out!</a>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>