{% include "base.html"%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
  
.contain, .flex {
     box-sizing: border-box;
     
 }
.contain {
    
    margin: auto;
    text-align: center;
}
.flex {
    float: left;
    margin: 30px;
    width: 25%;
    padding: 5px;
}
    
</style>    
</head>
<body>
    
    {% block content %}
        <form method='post' enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
        </form>
        <hr/>
    
        <div class="contain">
        {% for photo in photo %}
        
        <div class="flex">
                {{photo.poster.username}}
                <br/>
                {% if photo.image %}
                <img class="photo" src="{{ photo.image.url }}" height='250px' width="250px">
                <br/>
                {% endif %}
                <button><a href="/photolikes/{{ photo.id }}/">♡  Like</a></button>
                {{photo.likes}}<br/>
                {{photo.caption}}
            </div>
            {%endfor%}
        </div>
    {%endblock content%}
</body>
</html>
