{% include "base.html"%}
{% block content %}
    <form method='post' enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>

    {% for photo in photo%}
    {{photo.caption}}
    {{photo.poster.username}}
    {{photo.likes}}
    <a href="/photo/{{ photo.id}}/">
    <img src="{{ photo.image.url }}" height='250px' width="25%">
    </a>
    <button><a href="/photolikes/{{ photo.id }}/">Like</a></button>
    {%endfor%}
{%endblock content%}