<h1>{{ heading }}</h1>

{% for post in posts %}
    <table>
        <tr>
            <th>{{ post.username }}</th>
        </tr>
        <tr>
            <th>{{ post.first_name }} {{ post.last_name }}</th>
        </tr>
        <tr>
            <th>{{ post.email }}</th>
        </tr>
        <tr>
            <th>Followers: {{ post.follow.all | length }}</th>
        </tr>
    </table>
{% endfor %}

{% if user.follow.is_following != True %}
<a href="/follow/{{user.id}}">Follow?</a>

{% endif %}
{% if user.follow.is_following != False %}
<a href="/unfollow/{{user.id}}">Unfollow.</a>
{% endif %}

<p><button><a href="/logout/">Log out</a></button></p>