{% load static %}
{% include "base.html"%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo-ish Profile</title>
    <!-- <link rel="stylesheet" href="{% static 'css/index.css' %}"> -->

    <style>
  
        .contain, .flex {
             box-sizing: border-box;
             
         }
        .contain {
            
            margin: auto;
            text-align: center;
        }
        .flex {
            float: left;
            margin: 30px;
            width: 25%;
            padding: 5px;
        }
           
        .profile {
            margin: 20px;
        }

        .username {
            color: red;
            font-size: 25px;
        }
        
        #profile-pic{
            width:250px;
            height:250px;
            border-radius:100%;
        }


    </style>   

</head>
<body>
{% block content %}

<div class="profile">
    <select name="forma" onchange="location = this.value;">
        <option></option>
        <option value="/editprofile/{{user.id}}">Edit profile settings</option>
        <option value="/editaccount/{{user.id}}">Edit account settings</option>
    </select>
    <div class="data">
        <br>
    
    <h1>{{ heading }}</h1>
    {% for post in posts %}
        {% if post.avatar%}
            <img id="profile-pic" src="{{post.avatar.url}}" alt="profile-pic"/>
        {% else %}
            <img id="profile-pic" src="{% static 'image/default.jpg' %}" alt="profile-pic"/>
        {% endif %}

        <table>
            <tr>
                {% if request.user.id != user_id %}
                    {% if posts.first in request.user.friends.all %}
                        <!-- <th><a href="/follow/{{ post.id }}" class="btn btn-primary">follow me</a></th> -->
                        <th><a href="/unfollow/{{ post.id }}" class="btn btn-primary">unfollow me</a></th>
                    
                {% else %}
                        <!-- <th><a href="/unfollow/{{ post.id }}" class="btn btn-primary">unfollow me</a></th> -->
                        <th><a href="/follow/{{ post.id }}" class="btn btn-primary">follow me</a></th>
                    {% endif%}
                {% endif %}
            </tr>
            <tr>
                <th class="username">{{ post.username }} </th>
            </tr>
            <tr>
                <th>{{ post.first_name }} {{ post.last_name }}</th>
            </tr>
            <tr>
                <th>{{ post.email }}</th>
            </tr>
            <tr>
                <th>Followers: {{ post.friends.count | length }}</th>
            </tr>
            {% if post.bio or post.website %}
            <tr>
                <th>{{ post.bio }}</th>
            </tr>
            <tr>
                <th><a href="{{post.website}}" target="_blank">{{ post.website }}</a></th>
            </tr>
            {% endif %}
        </table>
    {% endfor %}
</div>    
     <div class="contain">
        {% for photo in photo %}
        <div class="flex">
            <div class="card" style="width: 18rem;">
                {% if photo.image %}
                    <a href="/photo/{{ photo.id}}/">
                    <img class="photo" src="{{ photo.image.url }}" height='250px' width="250px">
                    </a>
                    <br/>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{photo.poster.username}}</h5>
                    <p class="card-text">{{photo.caption}}</p>
                    <!-- <a href="/photolikes/{{ photo.id }}/" class="btn btn-primary"><i class="bi bi-hand-thumbs-up-fill">{{photo.button}}</i></a> -->
                </div>
                {{photo.total_likes}} Likes
                {% for person in photo.likes.all%}
                    <p><strong>Liked by </strong>{{person.username}}</p>
                {%endfor%}
            </div>
        </div>
        {%endfor%}





    {% comment %} <p><button><a href="/logout/">Log out</a></button></p> {% endcomment %}

{% endblock content %}

</body>
</html>

